.FeaturedProducts {
    height: 600px;
    margin-top: 70px;
}

.FeaturedProducts-title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color : #1A0B5B;
}
.cardImg {
    height: 300px;
    /* width: 100px; */
}